<form action="/recipes" method="post" id="recipe_form">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    
  Title: <input type="text" name="recipe[title]" value="">
  Description: <input type="textarea" name="recipe[description]" value="">
  <br>

  <div id="add_ingredients">
    Add ingredients:
  </div>
  <button id="add_more_ingredients">+ Add ingredient</button><br>

  <input type="submit" value="Submit">

</form>