<form action="/recipes" method="post" id="recipe_form">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    
  Title: <input type="text" name="recipe[title]" value="">
  Description: <input type="textarea" name="recipe[description]" value="">
  <br>

  <br><br>

  <div id="add_ingredients">
    Add ingredients:
  </div>
  <button id="add_more_ingredients">+ Add ingredient</button>

  <br><br>
  
  <div id="create_ingredient">
    Create ingredient:
    <input type="text" name="ingredient" value="">
    <button id="add_ingredient_to_db">Create ingredient</button>
  </div>

  <br><br>
  
  <div id="add_directions">
    Add directions:  
  </div>
  <button id="add_more_directions">+Add direction</button>

  <br><br>
  
  <input type="submit" value="Submit">

</form>