<br><br>

<form action="/recipes/<%= @recipe.id %>" method="post" id="recipe_form" role="form">
  <input type="hidden" name="_method" value="PATCH">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <%= render 'recipes/fields/fields' %>
  
  <input type="submit" value="Save edits" class="btn btn-danger">
</form>