<br><br>

<form action="/recipes" method="post" id="recipe_form" enctype="multipart/form-data" role="form">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <%= render 'recipes/fields/fields' %>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="add_to_cookbook" value="yes" checked>Add to My Cookbook<br>
    </label>
  </div>
  
  <input type="submit" value="Create recipe!" class="btn btn-danger">
</form>