<form action="/recipes" method="post" id="recipe_form">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    
  Title: <input type="text" name="recipe[title]" value=""><br>
  Description: <textarea name="recipe[description]" rows=7 cols=50 value=""></textarea><br>

  <div id="add_ingredients">
    Add ingredients:
  </div>
  <button id="add_more_ingredients">(+) Add ingredient</button>

  <br>
  
  <div id="add_directions">
    Add directions:  
  </div>
  <button id="add_more_directions">(+) Add direction</button>

  <br>
  
  <input type="submit" value="Submit">
</form>