<form action="/recipes" method="post" id="recipe_form">
    
  Title: <input type="text" name="recipe[title]" value="">
  Description: <input type="textarea" name="recipe[description]" value="">
  <br>

  <div id="add_ingredients">
  </div><br>
  <button id="add_more_ingredients">+ Add ingredient</button><br>

  <input type="submit" value="Submit">

</form>