<form action="/recipes" method="post" id="recipe_form" enctype="multipart/form-data">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    
  Title: <input type="text" name="recipe[title]" value=""><br>
  Description: <textarea name="recipe[description]" rows=7 cols=50 value=""></textarea><br><br>

  Upload image: <input type="file" name="recipe[recipe_image]"> 

  <br><br>

  <div>
    Add ingredients:
    <table id="add_ingredients">
     <tr>
       <th></th>
       <th>Name</th>
       <th>Amount</th>
       <th>Unit of Measurement (optional)</th>
     </tr>
    </table>    
  </div>
  <button id="add_more_ingredients">(+) Add ingredient</button>

  <br><br>
  
  <div id="add_directions">
    Add directions:  
  </div>
  <button id="add_more_directions">(+) Add direction</button>

  <br><br>
  
  <input type="submit" value="Submit">
</form>