<div class="main-content">
  <div class="pricing padd">
    <div class="container">

      <h3>Edit recipe</h3>
      <%= render 'form_edit' %>

    </div>
  </div>
</div>

<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', recipes_path %>
