<div class="main-content">
  <div class="pricing padd">
    <div class="container">
      <h3>Listing recipes</h3>
      <div class="row">
        <% @recipes.each do |recipe| %>
          <%= render 'recipe', recipe: recipe %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'New Recipe', new_recipe_path %>