
<div class="navbar">
  <script class="navbar">
  $(document).ready(function() {
    var mic = new Wit.Microphone(document.getElementById("microphone"));
    var info = function (msg) {
      document.getElementById("info").innerHTML = msg;
    };
    mic.onready = function () {
      info("Microphone is ready to record");
    };
    mic.onaudiostart = function () {
      info("Recording started");
    };
    mic.onaudioend = function () {
      info("Recording stopped, processing started");
    };
    mic.onerror = function (err) {
      info("Error: " + err);
    };
    mic.onresult = function (intent, entities) {
      var r = kv("intent", intent);

      for (var k in entities) {
        var e = entities[k];

        if (!(e instanceof Array)) {
          r += kv(k, e.value);
        } else {
          for (var i = 0; i < e.length; i++) {
            r += kv(k, e[i].value);
          }
        }
      }

       
        var bookmarks = $(".bookmark");
        var position = 0; //Start Position
        
        //add in if bookmarks.length -1 = position don't go forward
        if (r.indexOf("directions") !=-1 && r.indexOf("next") !=-1) { 
            $('body').scrollTo(bookmarks[position += 1]);

        } else if (r.indexOf("directions") !=-1 && r.indexOf("back") !=-1 && position > 0 ){
            $('body').scrollTo(bookmarks[position -= 1]);
        } else {
            alert("messychef did not understand command, sorry!");
        }
      
      document.getElementById("result").innerHTML = r;
    };
    mic.connect("D3L4UX6UDIPF2AKHJ5UEZHLXIS264265");
    // mic.start();
    // mic.stop();

    function kv (k, v) {
      if (toString.call(v) !== "[object String]") {
        v = JSON.stringify(v);
      }
      return k + "=" + v + "\n";
    }
  });
    
  </script>

<div id="microphone">MIC</div>
<pre id="result"></pre>
<div id="info"></div>
</div>


    
<div class="recipe"> Momma's Grilled Cheese 
    <br>
    <span class="bookmark">Direction 1</span>
    <br>
    <div class="spacer">Cut some bread</div>
    <br>
    <span class="bookmark">Direction 2</span>
    <br>
    <div class="spacer">Get some cheese</div>
    <span class="bookmark">Direction 3</span>
    <br>
    <div class="spacer">Get some butter</div>
    <span class="bookmark">Direction 4</span>
    <br>
    <div class="spacer">Grill it</div>
    <span class="bookmark">Direction 5</span>
    <br>
    <div class="spacer">Eat it</div>
</div>

 
