  <div id="landing-page-container" >
    
    <div id="searchbox">
      <h1 class="searchh1">Find a recipe</h1>
      <form class="form" role="form" >
        <div class="input-group">
        <input type="text" class="form-control" id="landsearchform" placeholder="Search...">
        <span class="input-group-btn" id="landsearchform">
         <button class="btn btn-default" type="button" id="landsearchform"><i class="searchbutton" ></i></button>
        </span>
        </div>
      </form>
    </div>

  </div>

   