var directionId = 0;


$(document).ready(function(){
  // make the first direction
  addDirection(directionId);
  updateStepNumber();

  // add another direction
  $("#add_more_directions").click(function(e){
    e.preventDefault();
    directionId++;    
    addDirection();
    updateStepNumber();
  });

  // delete a direction
  $("#add_directions").on("click", ".delete_this_direction", function(e) {
    e.preventDefault();
    this.parentElement.parentElement.remove();
    updateStepNumber();
  });
});


function addDirection() {
  $("#add_directions").append(
    '<tr id="direction-'+directionId+'">'+
      '<td><button class="delete_this_direction btn btn-danger">x</button></td>'+
      '<td class="step_number" style="text-align:center;"></td>'+
      '<td><textarea name="recipe[directions]['+directionId+'][description]" value="" class="form-control" style="display:inline-block;" rows=3 cols=50></textarea></td>'+
    '</tr>'
  );
}

function updateStepNumber(){
  for (i = 0; i < $(".step_number").length; i++) {
    myRow = $(".step_number").eq(i);
    myRow.text(myRow.parent().prevAll().length);
  }
}