var directionId = 0;


$(document).ready(function(){
  // make the first direction
  addDirection(directionId);

  // add another direction
  $("#add_more_directions").click(function(e){
    e.preventDefault();
    directionId++;    
    addDirection();
  });

  // delete a direction
  $("#add_directions").on("click", ".delete_this_direction", function(e) {
    e.preventDefault();
    this.parentElement.remove();
  });
});


function addDirection() {
  $("#add_directions").append(
    '<tr id="direction-'+directionId+'" style="white-space:nowrap;">'+
      '<td><button class="delete_this_direction btn btn-danger" style="display:inline-block;">x</button></td>'+
      '<td><textarea name="recipe[directions]['+directionId+'][description]" value="" class="form-control" style="display:inline-block;" rows=3 cols=50></textarea></td>'+
    '</tr>'
  );
}