var riuId = 0;


$(document).ready(function(){
  // make the first ingredient
  addIngredient(riuId);

  // add another ingredient
  $("#add_more_ingredients").click(function(e){
    e.preventDefault();
    riuId++;
    addIngredient(riuId);
  });

  // delete an ingredient
  $("#add_ingredients").on('click', '.delete_this_ingredient', function(e){
    e.preventDefault();
    this.parentElement.parentElement.remove();
  });
});


function addIngredient(riuId){
  $("#add_ingredients").append(
    '<tr>'+
      '<td><button class="delete_this_ingredient">x</button></td>'+
      '<td><input type="text" name="recipe[recipe_ingredient_units]['+riuId+'][ingredient]"></td>'+
      '<td><input type="number" name="recipe[recipe_ingredient_units]['+riuId+'][amount]"></td>'+
      '<td><input type="text" name="recipe[recipe_ingredient_units]['+riuId+'][unit]"></td>'+
    '</tr>'
  );
}