var riuId = 0;

$(document).ready(function(){
  // make the first add ingredient select
  addIngredient(riuId);

  // apply select 2 magic
  $("#add_ingredients").children("div").children("select").select2();

  // add more ingredients
  $("#add_more_ingredients").click(function(e){
    e.preventDefault();

    riuId++;
    addIngredient(riuId);
  });

  // delete an ingredient
  $("#add_ingredients").on('click', '.delete_this_ingredient', function(e){
    e.preventDefault();

    this.parentElement.remove();
  });

});

function addIngredient(riuId){
  $("#add_ingredients")
      .children("div").children("select")

      // call destroy to revert the changes made by Select2
      .select2("destroy").end()

  $("#add_ingredients")
      // append another ingredients select 
      .append(
        '<div>'+
        '<button class="delete_this_ingredient">x</button>'+

        '<select id="select_ingredient" data-placeholder="- Add an ingredient -" name="recipe[recipe_ingredient_units]['+riuId+'][ingredient_id]">'+
          '<option></option>'+
          '<option>Add New Ingredient</option>'+
          '<% Ingredient.order("lower(name)").each do |i| %>'+
            '<option value="<%= i.id %>"><%= i.name.downcase %></option>'+
          '<% end %>'+
        '</select>'+

        '<input type="number" name="recipe[recipe_ingredient_units]['+riuId+'][amount]">'+

        '<select id="select_unit" data-placeholder="- Add unit of measurement -" name="recipe[recipe_ingredient_units]['+riuId+'][unit_id]">'+
          '<option></option>'+
          '<% Unit.order("lower(unit)").each do |u| %>'+
            '<option value="<%= u.id %>"><%= u.unit.downcase %></option>'+
          '<% end %>'+
        '</select>'+
        '</div>'
      );

  // enable Select2 on the select elements
  $("#add_ingredients").children("div").children("select").select2();
}