var directionId = 0;

$(document).ready(function(){

  addDirection(directionId);

  $("#add_more_directions").click(function(e){
    e.preventDefault();

    directionId++;    
    addDirection();
  });

  $("#add_directions").on("click", ".delete_this_direction", function(e) {
    e.preventDefault();

    this.parentElement.remove();
  });
});

function addDirection() {
  $("#add_directions").append(
    '<div id="direction-'+directionId+'">'+
      '<button class="delete_this_direction">x</button>'+
      '<input type="text" name="recipe[directions]['+directionId+'][description]" value="">'+
    '</div>'
  );
}