$(document).ready(function(){

  addIngredient();

  $("#add_more_ingredients").click(function(e){
    e.preventDefault();

    addIngredient();
  });

  $("#add_ingredients").on('click', '.delete_this_ingredient', function(e){
    e.preventDefault();

    this.parentElement.remove();
  });
});

function addIngredient(){
  var numIngredients = $("#add_ingredients > div").length;

  $("#add_ingredients").append(
    '<div id="ingredient-'+numIngredients+'">'+
      '<button class="delete_this_ingredient">x</button>'+      
      '<select name="recipe[riu]['+numIngredients+'][ingredient_id]">'+
        '<% Ingredient.all.each do |ingredient| %>'+
          '<option value="<%= ingredient.id %>"><%= ingredient.name %></option>'+
        '<% end %>'+
      '</select>'+

      '<input type="number" name="recipe[riu]['+numIngredients+'][amount]" value="">'+
     
      '<select name="recipe[riu]['+numIngredients+'][unit_id]">'+
        '<% Unit.all.each do |unit| %>'+
          '<option value="<%= unit.id %>"><%= unit.unit %></option>'+
        '<% end %>'+
      '</select>'+
    '</div>'
  );
}