<div class="row">
  <div class="col-md-6">

    Description: <textarea name="recipe[description]" rows=7 cols=50 class="form-control col-md-4"><%= recipe.description if recipe.description %></textarea>
    
  </div>
</div>