<div id="aboutwrapper">

    <p id="aboutbox">
        MessyChef is revolutionizing how you interact with technology in your kitchen. By providing a hands-free, voice activated platform to follow step-by-step recipes, MessyChef keeps your computer clean and your hands focused on the food!
        <br>
        <br>
        Powered by Wit.AI, MessyChef uses artificial intelligence to interpret and act on your voice commands. It is also progressively learning to give you a more effective experience the more you use it.

    </p>


</div>